*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-menu{
    display: flex;
    position: relative;
}

.nav-pills{
    width: 30%;
    padding: 10px 40px;
    background-color: #ECF0F3;
    box-shadow: 3px 1px 10px -1px #c9c8c8;
    position: absolute;
    top: 0;
    bottom: 0;
}

.nav-pills .nav-link{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 4px;
    flex-shrink: 0;
    color: black;
}

.nav-pills .nav-link + .nav-link{
    margin-top: 10px;
}

.tab-content{
    background-image: url(../asset/img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    padding: 30px;
    padding-left: 360px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border-radius: 8px;
    border: 1px solid rgb(215, 212, 212);
}

.ex-heading{
    padding-left: 10px;
    margin-bottom: 20px;
}

.ex-input__item{
    padding: 4px 8px;
    margin-right: 10px;
    margin-top: 10px;
}

.ex-input{
    margin-bottom: 20px;
}

.ex-request{
    padding: 20px;
    border-left: 4px solid #E9594C;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
}

.ex-request ul{
    list-style: none;
}

.ex-handler{
    padding: 20px;
    margin-top: 20px;
    border-left: 4px solid #3E84E5;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
}

.submit-btn{
    margin-bottom: 20px;
}

.ex-result{
    padding: 20px;
    margin-top: 20px;
    border-left: 4px solid #3BC279;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
}

.ex-result__content{
    border: 1px solid #b0e8cf;
    padding: 10px;
    background-color:#e5f9f1 ;
}

.ex-result__content p + p{
    margin-top: 10px;
}

.ex-result-show{
    width: 100%;
}

#ex-result-text{
    min-height: 26px;
    margin: 0;
}